{{ define "main" }}
{{ $IsNav := eq .Title "Nav"}}
{{ $IsSearch := eq .Title "Search"}}
{{ $IsArchive := eq .Title "Archive"}}
{{ $IsAbout := eq .Title "About"}}
{{ $IsSecrets := eq .Section "secrets"}}
<!-- 那些不需要文章相关功能（如目录层级，文章切换、字数时长统计等）的页面 -->
<!-- {{ $IsPurePage := or $IsNav $IsSearch $IsArchive $IsAbout }} -->
<!-- 正常博文 -->
{{ $IsPostPage := and (not $IsNav) (not $IsSearch) (not $IsArchive) (not $IsAbout) }}
{{ $IsCommentPage := and (not $IsNav) (not $IsSearch) (not $IsArchive) }}
{{ $IS_DEV_ENV := eq .Site.BaseURL "http://localhost:1313/"}}

<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
		{{ if and .IsPage $IsCommentPage (not $IsSecrets) .Site.Params.utterances.active (not $IS_DEV_ENV) }}
        	{{- partial "partials/comment.html" . -}}
    	{{ end }}
	</article>
</main>
{{ end }}
