.post-copyright {
    font-family: 'Roboto Slab','Noto Sans CJK SC','PingFang SC','Source Han Sans SC','Source Han Sans CN','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif !important;
    margin: 0;
    margin-left: 0 !important;
    padding: .7em 1em;
    border-left: .25em solid rgba(65,179,73,0.6);
    background-color: rgba(65,179,73,0.05);
    margin: 1em 0
}